<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Lists - Tier Scooter Scanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>All Lists</h1>
    <ul id="lists">
        {% for list in lists %}
        <li>
            <a href="/list/{{ list.id }}">{{ list.name }} - {{ list.warehouse }} - {{ list.timestamp.strftime('%d.%m.%Y %H:%M') }}</a>
        </li>
        {% else %}
        <li>No lists available.</li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href='/'">Return</button>
    <script>
        console.debug("Lists page loaded.");
        console.debug("Total lists displayed: {{ lists|length }}");

        // Display popup with total scooters and lists
        alert("{{ total_scooters }} scooters available in {{ lists|length }} lists.");
    </script>

    <script>
        console.debug("Registering service worker.");
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/sw.js").then(function(registration) {
                console.debug('ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function(err) {
                console.debug('ServiceWorker registration failed: ', err);
            });
        } else {
            console.debug("Service workers are not supported.");
        }
    </script>
</body>
</html>
