<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Lists - Tier Scooter Scanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>All Lists</h1>
    <ul id="lists">
        {% for list in lists %}
        <li>
            <a href="/list/{{ list.id }}">{{ list.name }} - {{ list.warehouse }} - {{ list.timestamp.strftime('%d.%m.%Y %H:%M') }}</a>
        </li>
        {% else %}
        <li>No lists available.</li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href='/'">Return</button>
</body>
</html>
